* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 16px;
    line-height: 24px;
}

#wrap_wrap {
    min-width: 1800px;
    
}

.header {
    /* background-color: aqua; */
    margin: 0 auto;
    height: 90px;
    background: url(../image/logom.jpg) center no-repeat;
    border-bottom: 2px solid #303030;
}

#wrap {
    display: flex;
    margin: 0 300px;
    justify-content: space-between;
}

#leftwrap {
    width: 30%;
    height: 800px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.product {
    margin-top: 35px;
    box-sizing: border-box;
}

h2 {
    padding-top: 30px;
    color: #242424;
    font-weight: 500;
}

.price {
    padding-bottom: 20px;
    border-bottom: #242424 solid 1px;
    width: 400px;
}


.input_wrap {
    display: flex;
    align-items: center;
}

h3 {
    font-weight: 500;
    padding-right: 50px;
}

.input_wrap {
    padding-top: 20px;
}


.button {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
}

.cart {
    width: 150px;
    border: #242424 solid 1px;
    padding: 20px 30px;
    display: inline-block;
    cursor: pointer;
    
}

.buy {
    width: 150px;
    background-color: #242424;
    color: white;
    padding: 20px 30px;
    cursor: pointer;
}



#rightwrap {
    margin-left: 90px;
    margin-top: 35px;
    width: 70%;
    height: 27186px;
    background: url(../image/page.png) center no-repeat;
    /* background-color: palevioletred; */
}

.footer{height: 90px;
background-color: bisque;}